/* 
@name           Remnote Catppuccin Mocha
@namespace      github.com/catppuccin/remnote
@version        0.1
@description    Soothing pastel theme for Remnote
@author         justTOBBI, colderinit

Originally cloned from https://github.com/ethomasv/RemNoteTheme

TODO: 
- [ ] Fix Hover States
- [ ] Fix Highlights
*/

:root {
	--rosewater: #f4dbd6;
	--flamingo: #f0c6c6;
	--pink: #f5bde6;
	--mauve: #c6a0f6;
	--red: #ed8796;
	--maroon: #ee99a0;
	--peach: #f5a97f;
	--yellow: #eed49f;
	--green: #a6da95;
	--teal: #8bd5ca;
	--sky: #91d7e3;
	--sapphire: #7dc4e4;
	--blue: #8aadf4;
	--lavender: #b7bdf8;
	--text: #cad3f5;
	--subtext1: #b8c0e0;
	--subtext0: #a5adcb;
	--overlay2: #939ab7;
	--overlay1: #8087a2;
	--overlay0: #6e738d;
	--surface2: #566078;
	--surface1: #494d64;
	--surface0: #363a4f;
	--base: #24273a;
	--mantle: #1e2030;
	--crust: #181926;
	/* hexadecimal values from above in rgb form 
	(These should probably be checked, 
	as github copilot generated them)*/
	--rosewater-rgb: 244, 219, 214;
	--flamingo-rgb: 240, 198, 198;
	--pink-rgb: 245, 189, 230;
	--mauve-rgb: 198, 160, 246;
	--red-rgb: 237, 135, 150;
	--maroon-rgb: 238, 153, 160;
	--peach-rgb: 245, 169, 127;
	--yellow-rgb: 238, 212, 159;
	--green-rgb: 166, 218, 149;
	--teal-rgb: 139, 213, 202;
	--sky-rgb: 145, 215, 227;
	--sapphire-rgb: 125, 196, 228;
	--blue-rgb: 138, 173, 244;
	--lavender-rgb: 183, 189, 248;
	--text-rgb: 202, 211, 245;
	--subtext1-rgb: 184, 192, 224;
	--subtext0-rgb: 165, 173, 203;
	--overlay2-rgb: 147, 154, 183;
	--overlay1-rgb: 128, 135, 162;
	--overlay0-rgb: 110, 115, 141;
	--surface2-rgb: 86, 96, 120;
	--surface1-rgb: 73, 77, 100;
	--surface0-rgb: 54, 58, 79;
	--base-rgb: 36, 39, 58;
	--mantle-rgb: 30, 32, 48;
	--crust-rgb: 24, 25, 38;
}

.dark .bg-gray-5 {
	background-color: var(--mantle);
}
#document-sidebar {
	background-color: var(--mantle);
}
.rn-clr-background-primary {
	background-color: var(--base);
}
.rn-clr-background-secondary {
	background-color: var(--mantle);
}
.rn-clr-background-tertiary {
	background-color: var(--crust);
}
.rn-clr-background {
	background-color: var(--base);
}
.rn-clr-background-accent {
	background-color: var(--surface2);
}
.rn-clr-background-accent--hovered {
	background: var(--overlay0);
	background-color: var(--overlay0);
}
.rn-clr-background-light-accent {
	background-color: var(--surface2);
}
.rn-pane {
	background-color: var(--base);
}
.rn-pane__body {
	background-color: var(--base);
}
.rn-pane__top-bar {
	background-color: var(--base);
}

.rn-editor__rem__body__text {
	color: var(--text);
}
.rn-editor__rem__body {
	background-color: var(--base);
}
.rn-clr-content-primary {
	color: var(--text);
}
.rn-clr-content-accent {
	color: var(--subtext1);
}
.rn-clr-content-tertiary {
	color: var(--subtext0);
}

.top-bar-container {
	background-color: var(--base);
}

/* clozes */

.dark .cloze {
	background-color: var(--surface0);
}
.cloze {
	border-bottom-color: var(--blue);
}
.dark .rich-text-editor__change-cloze-button {
	background-color: var(--blue), var(--tw-bg-opacity);

	--tw-bg-opacity: 1;
}

/* rem */
.rn-rem-reference {
	color: var(--surface1);
}
.rn-button {
	color: var(--surface1);
}
.rn-button--hovered {
	color: var(--surface2);
}
.rn-editor__rem__body--red {
	color: var(--red);
}
.rn-editor__rem__body--orange {
	color: var(--peach);
}
.rn-editor__rem__body--yellow {
	color: var(--yellow);
}
.rn-editor__rem__body--blue {
	color: var(--sapphire);
}
.rn-editor__rem__body--purple {
	color: var(--lavender);
}
.rn-editor__rem__body--green {
	color: var(--green);
}

/* overlays (omnibar, slash menu) */

.rn-omnibar {
	background-color: var(--overlay1);
}
.rn-menu {
	background-color: var(--overlay2);
}
.rn-dialog-overlay {
	background-color: var(--overlay0);
}
/* search result and elevations */

.rn-clr-background-elevation-10 {
	background: var(--surface0);
}

/* color reassignments */
/* this is literally just the favorite star :) */
.dark .text-yellow-60 {
	color: var(--yellow);
}

/* highlight reassignments */
.dark .highlight-color--red {
	background-color: rgba(var(--red-rgb), var(--tw-bg-opacity));
	--tw-bg-opacity: 0.5;
}

.dark .highlight-color--orange {
	background-color: rgba(var(--peach-rgb), var(--tw-bg-opacity));
	--tw-bg-opacity: 0.5;
}

.dark .highlight-color--yellow {
	background-color: rgba(var(--yellow-rgb), var(--tw-bg-opacity));
	--tw-bg-opacity: 0.5;
}

.dark .highlight-color--blue {
	background-color: rgba(var(--sapphire-rgb), var(--tw-bg-opacity));
	--tw-bg-opacity: 0.5;
}

.dark .highlight-color--purple {
	background-color: rgba(var(--lavender-rgb), var(--tw-bg-opacity));
	--tw-bg-opacity: 0.5;
}

.dark .highlight-color--green {
	background-color: rgba(var(--green-rgb), var(--tw-bg-opacity));
	--tw-bg-opacity: 0.5;
}
