/*
@name           Remnote Catppuccin mocha
@namespace      github.com/catppuccin/remnote
@version        0.3
@description    Soothing pastel theme for Remnote
@author         justTOBBI, colderinit

Originally cloned from https://github.com/ethomasv/RemNoteTheme

*/
.light .bg-gray-5 {
  background-color: #e6e9ef;
}
.light .cloze {
  background-color: #ccd0da;
}
.light .rich-text-editor__change-cloze-button {
  background-color: #1e66f5;
  --tw-bg-opacity: 1;
}
.light .text-yellow-60 {
  color: #df8e1d;
}
.light .highlight-color--red {
  --tw-bg-opacity: 0.5;
  background-color: rgba(210, 15, 57, var(--tw-bg-opacity));
  color: #4c4f69;
}
.light .highlight-color--orange {
  background-color: rgba(254, 100, 11, var(--tw-bg-opacity));
  color: #4c4f69;
  --tw-bg-opacity: 0.5;
}
.light .highlight-color--yellow {
  background-color: rgba(223, 142, 29, var(--tw-bg-opacity));
  color: #4c4f69;
  --tw-bg-opacity: 0.5;
}
.light .highlight-color--blue {
  background-color: rgba(30, 102, 245, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.5;
  color: #4c4f69;
}
.light .highlight-color--purple {
  background-color: rgba(136, 57, 239, var(--tw-bg-opacity));
  color: #4c4f69;
  --tw-bg-opacity: 0.5;
}
.light .highlight-color--green {
  background-color: rgba(64, 160, 43, var(--tw-bg-opacity));
  color: #4c4f69;
  --tw-bg-opacity: 0.5;
}
.light .rn-code-node .rich-text-editor .EditorContainer {
  background-color: #ccd0da;
}
.light .dark\:text-gray-100 {
  color: #4c4f69;
}
.light .dark\:rn-clr-background-primary {
  background: #eff1f5;
}
.light .bg-gray-5[data-rem-tags="pdf-highlight"] {
  background-color: #eff1f5;
}
.light .bg-red-20 {
  background-color: #d20f39 !important;
  color: #d20f39 !important;
}
.light .bg-orange-20 {
  background-color: #fe640b !important;
  color: #fe640b !important;
}
.light .bg-yellow-20 {
  background-color: #df8e1d !important;
  color: #df8e1d !important;
}
.light .bg-cyan-20 {
  background-color: #1e66f5 !important;
  color: #1e66f5 !important;
}
.light .bg-purple-20 {
  background-color: #8839ef !important;
  color: #8839ef !important;
}
.light .bg-mint-20 {
  background-color: #40a02b !important;
  color: #40a02b !important;
}
#document-sidebar {
  background-color: #dce0e8;
}
.rn-clr-background-primary {
  background-color: #eff1f5;
}
.h-11.w-full {
  background: #eff1f5;
}
.rn-clr-background-secondary {
  background-color: #dce0e8;
}
.rn-clr-background-tertiary {
  background-color: #e6e9ef;
}
.rn-clr-background {
  background-color: #eff1f5;
}
.rn-clr-background-accent {
  background-color: #acb0be;
}
.rn-clr-background-accent--hovered {
  background: #9ca0b0;
  background-color: #9ca0b0;
}
.rn-clr-background-light-accent {
  background-color: #acb0be;
}
.rn-pane {
  background-color: #eff1f5;
}
.rn-pane__body {
  background-color: #eff1f5;
}
.rn-pane__top-bar {
  background-color: #eff1f5;
}
.rn-editor__rem__body__text {
  color: #4c4f69;
}
.rn-editor__rem__body {
  background-color: #eff1f5;
}
.rn-clr-content-primary {
  color: #4c4f69;
}
.rn-clr-content-accent {
  color: #5c5f77;
}
.rn-clr-content-tertiary {
  color: #6c6f85;
}
.top-bar-container {
  background-color: #eff1f5;
}
.cloze {
  border-bottom-color: #1e66f5;
}
.rn-rem-reference {
  color: #1e66f5;
}
.rn-button {
  color: #4c4f69;
}
.rn-button--hovered {
  color: #acb0be;
}
.rn-editor__rem__body--red {
  color: #d20f39;
}
.rn-editor__rem__body--orange {
  color: #fe640b;
}
.rn-editor__rem__body--yellow {
  color: #df8e1d;
}
.rn-editor__rem__body--blue {
  color: #1e66f5;
}
.rn-editor__rem__body--purple {
  color: #8839ef;
}
.rn-editor__rem__body--green {
  color: #40a02b;
}
.rn-omnibar {
  background-color: #8c8fa1;
}
.rn-menu {
  background-color: #7c7f93;
}
.rn-dialog-overlay {
  background-color: #9ca0b0;
}
.rn-clr-background-elevation-10 {
  background: #ccd0da;
}
#search-results__no-results {
  color: #4c4f69;
}
.rn-add-button {
  color: #4c4f69;
  background-color: #ccd0da;
}
.hover\:rn-clr-background-accent--hovered:hover {
  color: #dce0e8 !important;
  background: #7287fd !important;
}
.mosaic-tile {
  --rn-clr-background-primary: #eff1f5;
}
.rn-flashcards-home__top-bar__btn-grp .rn-button--primary {
  background-color: #7287fd;
}
.rn-queue-container {
  background: #eff1f5;
}
.rn-queue {
  background: #ccd0da;
}
.rn-clr-shadow-menu {
  background: #ccd0da !important;
}
.rn-clr-shadow-menu .rn-clr-content-secondary {
  color: #4c4f69;
}
.rn-clr-shadow-menu .rn-clr-content-primary {
  color: #4c4f69;
}
.rn-popup__content.relative.rn-clr-background-primary.overflow-y-hidden.overflow-x-hidden {
  background-color: #ccd0da;
}
.rn-popup__content.relative.rn-clr-background-primary.overflow-y-hidden {
  background-color: #ccd0da !important;
}
