/* I imagine header stuff here :) */

:root {
	--base: #1e1e2e;
	--mantle: #181825;
	--crust: #11111b;
	--surface0: #313244;
	--surface1: #45475a;
	--surface2: #585b70;
	--overlay0: #6c7086;
	--overlay1: #7f849c;
	--overlay2: #9399b2;
	--subtext0: #a6adc8;
	--subtext1: #bac2de;
	--text: #cdd6f4;
	--rosewater: #f5e0dc;
	--flamingo: #f2cdcd;
	--pink: #f5c2e7;
	--mauve: #cba6f7;
	--red: #f38ba8;
	--maroon: #eba0ac;
	--peach: #fab387;
	--yellow: #f9e2af;
	--green: #a6e3a1;
	--teal: #94e2d5;
	--sky: #89dceb;
	--sapphire: #74c7ec;
	--blue: #8964fa;
	--lavender: #b4befe;
}

/* 
    Main
     */
.rn-clr-background {
	background-color: var(base);
}
