/*
@name           Remnote Catppuccin mocha
@namespace      github.com/catppuccin/remnote
@version        0.3
@description    Soothing pastel theme for Remnote
@author         justTOBBI, colderinit

Originally cloned from https://github.com/ethomasv/RemNoteTheme

*/

/* colors */

.dark .bg-gray-5 {
	background-color: var(--ctp-mocha-mantle);
}

#document-sidebar {
	background-color: var(--ctp-mocha-crust);
}

.rn-clr-background-primary {
	background-color: var(--ctp-mocha-base);
}

.h-11.w-full {
	background: var(--ctp-mocha-base);
}

.rn-clr-background-secondary {
	background-color: var(--ctp-mocha-crust);
}

.rn-clr-background-tertiary {
	background-color: var(--ctp-mocha-mantle);
}

.rn-clr-background {
	background-color: var(--ctp-mocha-base);
}

.rn-clr-background-accent {
	background-color: var(--ctp-mocha-surface2);
}

.rn-clr-background-accent--hovered {
	background: var(--ctp-mocha-overlay0);
	background-color: var(--ctp-mocha-overlay0);
}

.rn-clr-background-light-accent {
	background-color: var(--ctp-mocha-surface2);
}

.rn-pane {
	background-color: var(--ctp-mocha-base);
}

.rn-pane__body {
	background-color: var(--ctp-mocha-base);
}

.rn-pane__top-bar {
	background-color: var(--ctp-mocha-base);
}

.rn-editor__rem__body__text {
	color: var(--ctp-mocha-text);
}

.rn-editor__rem__body {
	background-color: var(--ctp-mocha-base);
}

.rn-clr-content-primary {
	color: var(--ctp-mocha-text);
}

.rn-clr-content-accent {
	color: var(--ctp-mocha-subtext1);
}

.rn-clr-content-tertiary {
	color: var(--ctp-mocha-subtext0);
}

.top-bar-container {
	background-color: var(--ctp-mocha-base);
}

/* clozes */

.dark .cloze {
	background-color: var(--ctp-mocha-surface0);
}

.cloze {
	border-bottom-color: var(--ctp-mocha-blue);
}

.dark .rich-text-editor__change-cloze-button {
	background-color: var(--ctp-mocha-blue), var(--tw-bg-opacity);
	--tw-bg-opacity: 1;
}

/* rem */

.rn-rem-reference {
	color: var(--ctp-mocha-blue);
}

.rn-button {
	color: var(--ctp-mocha-text);
}

.rn-button--hovered {
	color: var(--ctp-mocha-surface2);
}

.rn-editor__rem__body--red {
	color: var(--ctp-mocha-red);
}

.rn-editor__rem__body--orange {
	color: var(--ctp-mocha-peach);
}

.rn-editor__rem__body--yellow {
	color: var(--ctp-mocha-yellow);
}

.rn-editor__rem__body--blue {
	color: var(--ctp-mocha-blue);
}

.rn-editor__rem__body--purple {
	color: var(--ctp-mocha-muave);
}

.rn-editor__rem__body--green {
	color: var(--ctp-mocha-green);
}

/* overlays (omnibar, slash menu) */

.rn-omnibar {
	background-color: var(--ctp-mocha-overlay1);
}

.rn-menu {
	background-color: var(--ctp-mocha-overlay2);
}

.rn-dialog-overlay {
	background-color: var(--ctp-mocha-overlay0);
}

/* search result and elevations */

.rn-clr-background-elevation-10 {
	background: var(--ctp-mocha-surface0);
}

/* color reassignments */

/* this is literally just the favorite star :) */

.dark .text-yellow-60 {
	color: var(--ctp-mocha-yellow);
}

/* highlight reassignments */

.dark .highlight-color--red {
	--tw-bg-opacity: 0.5;
	background-color: rgba(var(--ctp-mocha-red-raw), var(--tw-bg-opacity));
	color: var(--ctp-mocha-text);
}
.dark .highlight-color--orange {
	background-color: rgba(var(--ctp-mocha-peach-raw), var(--tw-bg-opacity));
	color: var(--ctp-mocha-text);
	--tw-bg-opacity: 0.5;
}

.dark .highlight-color--yellow {
	background-color: rgba(var(--ctp-mocha-yellow-raw), var(--tw-bg-opacity));
	color: var(--ctp-mocha-text);
	--tw-bg-opacity: 0.5;
}

.dark .highlight-color--blue {
	background-color: rgba(var(--ctp-mocha-blue-raw), var(--tw-bg-opacity));
	--tw-bg-opacity: 0.5;
	color: var(--ctp-mocha-text);
}

.dark .highlight-color--purple {
	background-color: rgba(var(--ctp-mocha-mauve-raw), var(--tw-bg-opacity));
	color: var(--ctp-mocha-text);
	--tw-bg-opacity: 0.5;
}

.dark .highlight-color--green {
	background-color: rgba(var(--ctp-mocha-green-raw), var(--tw-bg-opacity));
	color: var(--ctp-mocha-text);
	--tw-bg-opacity: 0.5;
}
#search-results__no-results {
	color: var(--ctp-mocha-text);
}

.dark .rn-code-node .rich-text-editor .EditorContainer {
	background-color: var(--ctp-mocha-surface0);
}

.dark .dark\:text-gray-100 {
	color: var(--ctp-mocha-text);
}

.rn-add-button {
	color: var(--ctp-mocha-text);
	background-color: var(--ctp-mocha-surface0);
}

.hover\:rn-clr-background-accent--hovered:hover {
	color: var(--ctp-mocha-crust) !important;
	background: var(--ctp-mocha-lavender) !important;
}

.mosaic-tile {
	--rn-clr-background-primary: var(--ctp-mocha-base);
}

.rn-flashcards-home__top-bar__btn-grp .rn-button--primary {
	background-color: var(--ctp-mocha-lavender);
}

/* queue */

.rn-queue-container {
	background: var(--ctp-mocha-base);
}
.dark .dark\:rn-clr-background-primary {
	background: var(--ctp-mocha-base);
}

.rn-queue {
	background: var(--ctp-mocha-surface0);
}

@media (max-width: 479px) {
	.rn-queue {
		background: var(--ctp-mocha-base);
	}
}

.rn-clr-shadow-menu {
	background: var(--ctp-mocha-surface1) !important;
}

.rn-clr-shadow-menu .rn-clr-content-secondary {
	color: var(--ctp-mocha-text);
}
.rn-clr-shadow-menu .rn-clr-content-primary {
	color: var(--ctp-mocha-text);
}

.dark .bg-gray-5[data-rem-tags="pdf-highlight"] {
	background-color: var(--ctp-mocha-base);
}

.rn-popup__content.relative.rn-clr-background-primary.overflow-y-hidden.overflow-x-hidden {
	background-color: var(--ctp-mocha-surface0);
}
.rn-popup__content.relative.rn-clr-background-primary.overflow-y-hidden {
	background-color: var(--ctp-mocha-surface0) !important;
}
