/* 
@name           Remnote Catppuccin Mocha
@namespace      github.com/catppuccin/remnote
@version        0.1
@description    Soothing pastel theme for Remnote
@author         justTOBBI, colderinit

Originally cloned from https://github.com/ethomasv/RemNoteTheme

TODO: 
- [ ] Add Hover states?
*/

:root {
	--base: #1e1e2e;
	--mantle: #181825;
	--crust: #11111b;
	--surface0: #313244;
	--surface1: #45475a;
	--surface2: #585b70;
	--overlay0: #6c7086;
	--overlay1: #7f849c;
	--overlay2: #9399b2;
	--subtext0: #a6adc8;
	--subtext1: #bac2de;
	--text: #cdd6f4;
	--rosewater: #f5e0dc;
	--flamingo: #f2cdcd;
	--pink: #f5c2e7;
	--mauve: #cba6f7;
	--red: #f38ba8;
	--maroon: #eba0ac;
	--peach: #fab387;
	--yellow: #f9e2af;
	--green: #a6e3a1;
	--teal: #94e2d5;
	--sky: #89dceb;
	--sapphire: #74c7ec;
	--blue: #8964fa;
	--lavender: #b4befe;
}

/* 
    Main
     */

.rn-pane__top-bar {
	background-color: var(--base);
}
.rn-editor__rem__body__text {
	color: var(--text);
}
.rn-clr-content-primary {
	color: var(--text);
}
.rn-clr-content-accent {
	color: var(--subtext1);
}
.rn-clr-content-tertiary {
	color: var(--subtext0);
}
.cloze {
	background-color: var(--surface0);
}
.rn-rem-reference {
	color: var(--surface1);
}
.rn-button {
	color: var(--surface2);
}
.rn-editor__rem__body--red {
	color: var(--red);
}
.rn-editor__rem__body--orange {
	color: var(--peach);
}
.rn-editor__rem__body--yellow {
	color: var(--yellow);
}
.rn-editor__rem__body--blue {
	color: var(--sapphire);
}
.rn-editor__rem__body--purple {
	color: var(--lavender);
}
.rn-editor__rem__body--green {
	color: var(--green);
}
#document-sidebar {
	background-color: var(--base);
}
.rn-clr-background-primary {
	background-color: var(--base);
}
.rn-clr-background-secondary {
	background-color: var(--mantle);
}

.rn-clr-background {
	background-color: var(--base);
}
.rn-clr-background-accent {
	background-color: var(--surface2);
}
.rn-pane__body {
	background-color: var(--base);
}
