/*
@name           Remnote Catppuccin mocha
@namespace      github.com/catppuccin/remnote
@version        0.3
@description    Soothing pastel theme for Remnote
@author         justTOBBI, colderinit

Originally cloned from https://github.com/ethomasv/RemNoteTheme

*/
.dark .bg-gray-5 {
  background-color: #292c3c;
}
.dark .cloze {
  background-color: #414559;
}
.dark .rich-text-editor__change-cloze-button {
  background-color: #8caaee;
  --tw-bg-opacity: 1;
}
.dark .text-yellow-60 {
  color: #e5c890;
}
.dark .highlight-color--red {
  --tw-bg-opacity: 0.5;
  background-color: rgba(231, 130, 132, var(--tw-bg-opacity));
  color: #c6d0f5;
}
.dark .highlight-color--orange {
  background-color: rgba(239, 159, 118, var(--tw-bg-opacity));
  color: #c6d0f5;
  --tw-bg-opacity: 0.5;
}
.dark .highlight-color--yellow {
  background-color: rgba(229, 200, 144, var(--tw-bg-opacity));
  color: #c6d0f5;
  --tw-bg-opacity: 0.5;
}
.dark .highlight-color--blue {
  background-color: rgba(140, 170, 238, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.5;
  color: #c6d0f5;
}
.dark .highlight-color--purple {
  background-color: rgba(202, 158, 230, var(--tw-bg-opacity));
  color: #c6d0f5;
  --tw-bg-opacity: 0.5;
}
.dark .highlight-color--green {
  background-color: rgba(166, 209, 137, var(--tw-bg-opacity));
  color: #c6d0f5;
  --tw-bg-opacity: 0.5;
}
.dark .rn-code-node .rich-text-editor .EditorContainer {
  background-color: #414559;
}
.dark .dark\:text-gray-100 {
  color: #c6d0f5;
}
.dark .dark\:rn-clr-background-primary {
  background: #303446;
}
.dark .bg-gray-5[data-rem-tags="pdf-highlight"] {
  background-color: #303446;
}
.dark .bg-red-20 {
  background-color: #e78284 !important;
  color: #e78284 !important;
}
.dark .bg-orange-20 {
  background-color: #ef9f76 !important;
  color: #ef9f76 !important;
}
.dark .bg-yellow-20 {
  background-color: #e5c890 !important;
  color: #e5c890 !important;
}
.dark .bg-cyan-20 {
  background-color: #8caaee !important;
  color: #8caaee !important;
}
.dark .bg-purple-20 {
  background-color: #ca9ee6 !important;
  color: #ca9ee6 !important;
}
.dark .bg-mint-20 {
  background-color: #a6d189 !important;
  color: #a6d189 !important;
}
#document-sidebar {
  background-color: #232634;
}
.rn-clr-background-primary {
  background-color: #303446;
}
.h-11.w-full {
  background: #303446;
}
.rn-clr-background-secondary {
  background-color: #232634;
}
.rn-clr-background-tertiary {
  background-color: #292c3c;
}
.rn-clr-background {
  background-color: #303446;
}
.rn-clr-background-accent {
  background-color: #626880;
}
.rn-clr-background-accent--hovered {
  background: #737994;
  background-color: #737994;
}
.rn-clr-background-light-accent {
  background-color: #626880;
}
.rn-pane {
  background-color: #303446;
}
.rn-pane__body {
  background-color: #303446;
}
.rn-pane__top-bar {
  background-color: #303446;
}
.rn-editor__rem__body__text {
  color: #c6d0f5;
}
.rn-editor__rem__body {
  background-color: #303446;
}
.rn-clr-content-primary {
  color: #c6d0f5;
}
.rn-clr-content-accent {
  color: #b5bfe2;
}
.rn-clr-content-tertiary {
  color: #a5adce;
}
.top-bar-container {
  background-color: #303446;
}
.cloze {
  border-bottom-color: #8caaee;
}
.rn-rem-reference {
  color: #8caaee;
}
.rn-button {
  color: #c6d0f5;
}
.rn-button--hovered {
  color: #626880;
}
.rn-editor__rem__body--red {
  color: #e78284;
}
.rn-editor__rem__body--orange {
  color: #ef9f76;
}
.rn-editor__rem__body--yellow {
  color: #e5c890;
}
.rn-editor__rem__body--blue {
  color: #8caaee;
}
.rn-editor__rem__body--purple {
  color: #ca9ee6;
}
.rn-editor__rem__body--green {
  color: #a6d189;
}
.rn-omnibar {
  background-color: #838ba7;
}
.rn-menu {
  background-color: #949cbb;
}
.rn-dialog-overlay {
  background-color: #737994;
}
.rn-clr-background-elevation-10 {
  background: #414559;
}
#search-results__no-results {
  color: #c6d0f5;
}
.rn-add-button {
  color: #c6d0f5;
  background-color: #414559;
}
.hover\:rn-clr-background-accent--hovered:hover {
  color: #232634 !important;
  background: #babbf1 !important;
}
.mosaic-tile {
  --rn-clr-background-primary: #303446;
}
.rn-flashcards-home__top-bar__btn-grp .rn-button--primary {
  background-color: #babbf1;
}
.rn-queue-container {
  background: #303446;
}
.rn-queue {
  background: #414559;
}
.rn-clr-shadow-menu {
  background: #414559 !important;
}
.rn-clr-shadow-menu .rn-clr-content-secondary {
  color: #c6d0f5;
}
.rn-clr-shadow-menu .rn-clr-content-primary {
  color: #c6d0f5;
}
.rn-popup__content.relative.rn-clr-background-primary.overflow-y-hidden.overflow-x-hidden {
  background-color: #414559;
}
.rn-popup__content.relative.rn-clr-background-primary.overflow-y-hidden {
  background-color: #414559 !important;
}
