/*
@name           Remnote Catppuccin latte
@namespace      github.com/catppuccin/remnote
@version        0.3
@description    Soothing pastel theme for Remnote
@author         justTOBBI, colderinit

Originally cloned from https://github.com/ethomasv/RemNoteTheme

*/

/* colors */

.light .bg-gray-5 {
	background-color: var(--ctp-latte-mantle);
}

#document-sidebar {
	background-color: var(--ctp-latte-crust);
}

.rn-clr-background-primary {
	background-color: var(--ctp-latte-base);
}

.h-11.w-full {
	background: var(--ctp-latte-base);
}

.rn-clr-background-secondary {
	background-color: var(--ctp-latte-crust);
}

.rn-clr-background-tertiary {
	background-color: var(--ctp-latte-mantle);
}

.rn-clr-background {
	background-color: var(--ctp-latte-base);
}

.rn-clr-background-accent {
	background-color: var(--ctp-latte-surface2);
}

.rn-clr-background-accent--hovered {
	background: var(--ctp-latte-overlay0);
	background-color: var(--ctp-latte-overlay0);
}

.rn-clr-background-light-accent {
	background-color: var(--ctp-latte-surface2);
}

.rn-pane {
	background-color: var(--ctp-latte-base);
}

.rn-pane__body {
	background-color: var(--ctp-latte-base);
}

.rn-pane__top-bar {
	background-color: var(--ctp-latte-base);
}

.rn-editor__rem__body__text {
	color: var(--ctp-latte-text);
}

.rn-editor__rem__body {
	background-color: var(--ctp-latte-base);
}

.rn-clr-content-primary {
	color: var(--ctp-latte-text);
}

.rn-clr-content-accent {
	color: var(--ctp-latte-subtext1);
}

.rn-clr-content-tertiary {
	color: var(--ctp-latte-subtext0);
}

.top-bar-container {
	background-color: var(--ctp-latte-base);
}

/* clozes */

.light .cloze {
	background-color: var(--ctp-latte-surface0);
}

.cloze {
	border-bottom-color: var(--ctp-latte-blue);
}

.light .rich-text-editor__change-cloze-button {
	background-color: var(--ctp-latte-blue), var(--tw-bg-opacity);
	--tw-bg-opacity: 1;
}

/* rem */

.rn-rem-reference {
	color: var(--ctp-latte-blue);
}

.rn-button {
	color: var(--ctp-latte-text);
}

.rn-button--hovered {
	color: var(--ctp-latte-surface2);
}

.rn-editor__rem__body--red {
	color: var(--ctp-latte-red);
}

.rn-editor__rem__body--orange {
	color: var(--ctp-latte-peach);
}

.rn-editor__rem__body--yellow {
	color: var(--ctp-latte-yellow);
}

.rn-editor__rem__body--blue {
	color: var(--ctp-latte-blue);
}

.rn-editor__rem__body--purple {
	color: var(--ctp-latte-muave);
}

.rn-editor__rem__body--green {
	color: var(--ctp-latte-green);
}

/* overlays (omnibar, slash menu) */

.rn-omnibar {
	background-color: var(--ctp-latte-overlay1);
}

.rn-menu {
	background-color: var(--ctp-latte-overlay2);
}

.rn-dialog-overlay {
	background-color: var(--ctp-latte-overlay0);
}

/* search result and elevations */

.rn-clr-background-elevation-10 {
	background: var(--ctp-latte-surface0);
}

/* color reassignments */

/* this is literally just the favorite star :) */

.light .text-yellow-60 {
	color: var(--ctp-latte-yellow);
}

/* highlight reassignments */

.light .highlight-color--red {
	--tw-bg-opacity: 0.5;
	background-color: rgba(var(--ctp-latte-red-raw), var(--tw-bg-opacity));
	color: var(--ctp-latte-text);
}
.light .highlight-color--orange {
	background-color: rgba(var(--ctp-latte-peach-raw), var(--tw-bg-opacity));
	color: var(--ctp-latte-text);
	--tw-bg-opacity: 0.5;
}

.light .highlight-color--yellow {
	background-color: rgba(var(--ctp-latte-yellow-raw), var(--tw-bg-opacity));
	color: var(--ctp-latte-text);
	--tw-bg-opacity: 0.5;
}

.light .highlight-color--blue {
	background-color: rgba(var(--ctp-latte-blue-raw), var(--tw-bg-opacity));
	--tw-bg-opacity: 0.5;
	color: var(--ctp-latte-text);
}

.light .highlight-color--purple {
	background-color: rgba(var(--ctp-latte-mauve-raw), var(--tw-bg-opacity));
	color: var(--ctp-latte-text);
	--tw-bg-opacity: 0.5;
}

.light .highlight-color--green {
	background-color: rgba(var(--ctp-latte-green-raw), var(--tw-bg-opacity));
	color: var(--ctp-latte-text);
	--tw-bg-opacity: 0.5;
}
#search-results__no-results {
	color: var(--ctp-latte-text);
}

.light .rn-code-node .rich-text-editor .EditorContainer {
	background-color: var(--ctp-latte-surface0);
}

.light .light\:text-gray-100 {
	color: var(--ctp-latte-text);
}

.rn-add-button {
	color: var(--ctp-latte-text);
	background-color: var(--ctp-latte-surface0);
}

.hover\:rn-clr-background-accent--hovered:hover {
	color: var(--ctp-latte-crust) !important;
	background: var(--ctp-latte-lavender) !important;
}

.mosaic-tile {
	--rn-clr-background-primary: var(--ctp-latte-base);
}

.rn-flashcards-home__top-bar__btn-grp .rn-button--primary {
	background-color: var(--ctp-latte-lavender);
}

/* queue */

.rn-queue-container {
	background: var(--ctp-latte-base);
}
.light .light\:rn-clr-background-primary {
	background: var(--ctp-latte-base);
}

.rn-queue {
	background: var(--ctp-latte-surface0);
}
.light .bg-gray-5[data-rem-tags="pdf-highlight"] {
	background-color: var(--ctp-mocha-base);
}

.rn-popup__content.relative.rn-clr-background-primary.overflow-y-hidden.overflow-x-hidden {
	background-color: var(--ctp-mocha-surface0);
}
.rn-popup__content.relative.rn-clr-background-primary.overflow-y-hidden {
	background-color: var(--ctp-mocha-surface0) !important;
}
